body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    padding: 40px;
}
nav {
    background-color: #222;
    padding: 12px;
    margin-bottom: 30px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.calculator {
    background: white;
    padding: 25px;
    width: 90%;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    display: block;
    margin-bottom: 10px;
    
}
input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    
}
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
hr {
    margin: 40px auto;
    width: 60%;
}
section {
    margin-bottom: 50px;
}
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}